DATABASE_URL=postgresql+asyncpg://chatbot:chatbot@localhost:5432/chatbot
DATABASE_URL_SYNC=postgresql://chatbot:chatbot@localhost:5432/chatbot
REDIS_URL=redis://localhost:6379/0

LLM_PROVIDER=nvidia
LLM_MODEL=nvidia/llama-3.1-nemotron-70b-instruct
LLM_API_KEY=nvapi-...
LLM_TEMPERATURE=0.7

EMBEDDING_PROVIDER=nvidia
EMBEDDING_MODEL=nvidia/nv-embedqa-mistral-7b-v2
EMBEDDING_DIMENSIONS=4096

JWT_SECRET_KEY=change-me-to-a-random-string
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440

LOG_LEVEL=INFO
ENVIRONMENT=development
CORS_ORIGINS=["*"]



# LLM_PROVIDER=openai
# LLM_MODEL=gpt-4o
# LLM_API_KEY=sk-...
# LLM_TEMPERATURE=0.7

# EMBEDDING_PROVIDER=openai
# EMBEDDING_MODEL=text-embedding-3-small
# EMBEDDING_DIMENSIONS=1536